/* Font Faces */
@font-face {
    font-family: 'evil';
    src: url('fonts/evil.otf') format('opentype'); /* Utilise 'opentype' pour le format de fichier OTF */
}

@font-face {
    font-family: 'mercy';
    src: url('fonts/mercy.ttf') format('truetype'); /* Utilise 'truetype' pour le format de fichier TTF */
}

@font-face {
    font-family: 'titania';
    src: url('fonts/titania.ttf') format('truetype'); /* Utilise 'truetype' pour le format de fichier TTF */
}

@font-face {
    font-family: 'protest';
    src: url('fonts/protest.ttf') format('truetype'); /* Utilise 'truetype' pour le format de fichier TTF */
}

@font-face {
    font-family: 'minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype'); /* Utilise 'truetype' pour le format de fichier TTF */
}

/* Global Styles */
body {
    font-family: 'hel', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url(img/fond_site.png);
}

header {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    width: 100%;
    z-index: 2;
}

h1 {
    font-size: 22pt;
}

header h1 {
    margin: 0;
    font-size: 4em;
    color: #f5f5f5;
    position: relative;
    z-index: 1;
}

/* Navigation Menu */
#openNav,
#sideTrigger {
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: #1a1a1a;
    color: #f5f5f5;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    z-index: 3;
}

#mySidenav {
    position: fixed;
    left: -150px;
    top: 0;
    height: 100vh;
    width: 150px;
    background-color: #1a1a1a;
    padding-top: 20px;
    text-align: center;
    transition: left 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mySidenav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

#mySidenav li {
    margin-bottom: 15px;
    width: 100%;
}

#mySidenav a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    padding: 10px;
    transition: background-color 0.3s;
}

#mySidenav a:hover {
    background-color: #333;
}

/* Main Content */
main {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    z-index: 0;
    width: 100%;
    font-family: monospace;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #f5f5f5;
}

/* Images */
img {
    position: relative;
    z-index: 1;
    transition: z-index 0.4s;
}

.theme_accueil {
    background-image: url(img/theme_accueil.jpg);
    background-size: contain;
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
}

/* Image Hover Effect */
.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container a {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.4s, filter 0.4s, width 0.4s;
}

.image-container img:hover {
    transform: scale(1.1);
    z-index: 2;
    opacity: 1;
}

.image-container img:not(:hover) {
    filter: grayscale(80%);
    width: 100%;
}

.image-top-middle {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.nou {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    border-radius: 10% 30% 50% 70%;
}

.logo {
    margin-left: 170px;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    bottom: 0px;
    width: 100%;
    position: fixed;
}

/* Button Styles */
.jouer {
    width: 190px;
    height: 50.5px;
    background-size: cover;
    background-image: url('img/jouer.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.jouer:hover {
    background-image: url('img/jouer_hover.png');
}

/* Progress Section */
.avancement {
    background-color: #2a2a2a;
    padding: 20px;
}

/* Conteneur principal pour l'image et le texte */
.conteneur {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cote {
    margin-right: 20px; /* Espace entre l'image et le texte */
}

.cote img {
    max-width: 300px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    opacity: 0.6;
}

/* Description Text */
.texte-description {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Minecraft', sans-serif;
    font-size: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(img/theme_presentation.jpg);
    background-size: contain;
    background-position: center;
    padding: 20px;
    text-align: center;
    width: 590px;
    height: 360px;
    box-shadow: 5px 5px 10px black;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenu {
    width: 75%; /* Utilise toute la largeur disponible */
}

.premiere_ligne {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Contact Section */
.contact {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #5D617E;
    width: 50%;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
}

.email {
    margin: 0 auto;
    width: 55px;
    height: 51.5px;
    background-size: cover;
    background-image: url('img/email.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.email:hover {
    background-image: url('img/email_hover.png');
}

.email_texte {
    font-family: monospace;
    cursor: pointer;
    transition: color 0.3s;
}

.email_texte:hover {
    color: #8D92B4;
}


/* Additional Elements */
.soutenance {
    background-color: #555454;
    width: 50%;
    position: absolute;
    text-align: center;
    display: block;
}

.telecharge {
    background-color: #555454;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 30%;
    padding-left: 5%;
}

.bouton_telecharge {
    color: white;
    padding: 10px 15px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #333;
}

.bouton_telecharge:hover {
    color: rgb(144, 146, 6);
}
.rapport{
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond du bloc avec transparence */
    color: white; /* Couleur du texte */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: left; 
}